.wp-block-ncmfse-post-format-icon {
	display: inline-flex;
	padding: 0.375rem;
	border-radius: 99px;
	border: 1px solid #ffffff;
	color: #ffffff;
	svg {
		width: 1em;
		height: 1em;
		fill: none;
		color: currentColor;
	}
}
