.wp-block-ncmfse-dropdown-menu-trigger {
	background-color: initial;
	border: none;
	color: currentColor;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	letter-spacing: inherit;
	line-height: inherit;
	text-align: left;
	text-transform: inherit;
	padding-inline: 0;
	cursor: pointer;
	display: flex;
	&:focus {
		outline: none;
	}
}
