.nc-post-reaction-button {
	& {
		cursor: pointer;
		line-height: 1;
		text-decoration: none;
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}

	&.is-actived,
	&:hover {
		color: var(--active-color, inherit) !important;
		border-color: var(--active-border-color) !important;
		.wp-block-outermost-icon-block .icon-container {
			background-color: var(--active-icon-background-color) !important;
			color: var(--active-color, inherit) !important;
		}
	}
	&.is-actived {
		svg {
			fill: var(--active-color, inherit);
			color: var(--active-color, inherit);
		}
	}

	.nc__count {
		min-width: 1rem;
		text-align: start;
	}
}
