.nc-post-like-button,
.nc-post-save-button {
	display: flex;
	align-items: center;
	// gap: 0.5rem;
	cursor: pointer;
	// min-width: 3rem;
	line-height: 1;
	text-decoration: none;

	&.is-liked,
	&.is-saved {
		// color: #ff0000;
	}
	&:hover &__icon {
		// background-color: #fef2f2;
	}
	&__icon {
		// min-width: 2.25rem;
		// min-height: 2.25rem;
		// border-radius: 999px;
		display: flex;
		align-items: center;
		justify-content: center;
		// background-color: #f5f5f5;
		// padding: 0.625rem;
		svg {
			// width: 1rem;
			// height: 1rem;
		}
	}
	&__count {
		min-width: 1.125rem;
		text-align: start;
	}
}
