@import "./form.scss";

.relative {
	position: relative;
}
.z-1 {
	z-index: 1;
}
.z-2 {
	z-index: 2;
}
.z-3 {
	z-index: 3;
}
.z-4 {
	z-index: 4;
}
.z-5 {
	z-index: 5;
}
.z-10 {
	z-index: 10;
}

.gap-1\.5 {
	gap: var(--wp--preset--spacing--1-5);
}

.gap-2 {
	gap: var(--wp--preset--spacing--2);
}

.hidden {
	display: none;
}
.visible {
	visibility: visible;
}
.invisible {
	visibility: hidden;
}
.top-0 {
	top: 0;
}
.left-0 {
	left: 0;
}
.right-0 {
	right: 0;
}
.bottom-0 {
	bottom: 0;
}
.absolute {
	position: absolute;
}
.relative {
	position: relative;
}
.fixed {
	position: fixed;
}
.sticky {
	position: sticky;
}

.is-style-line-clamp-1,
.is-style-line-clamp-1 > a {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}

.is-style-line-clamp-2,
.is-style-line-clamp-2 > a {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.hidden-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}

//for post reaction button blocks: Like button block, Save button block, View count button block, Comment button block,
.nc-post-reaction-button {
	cursor: pointer;
	line-height: 1;
	text-decoration: none;
	font-size: var(--wp--preset--font-size--xs);
	border: 0px solid transparent;
	background-color: initial;
	background-image: none;
	&:focus {
		outline: none;
	}
	&.is-actived,
	&:hover {
		color: var(--active-color, inherit) !important;
		border-color: var(--active-border-color, inherit) !important;
		background-color: var(--active-background-color, inherit) !important;
		.wp-block-outermost-icon-block .icon-container {
			background-color: var(
				--active-icon-background-color,
				transparent
			) !important;
			color: var(--active-color, inherit) !important;
			transition-duration: 0.3s;
		}
	}
	&.is-actived {
		svg {
			fill: var(--active-color, inherit);
			color: var(--active-color, inherit);
		}
	}
	.nc__count {
		min-width: 1rem;
		text-align: start;
	}
}
