.reading-time {
	display: inline-block;
	@media screen and (max-width: 600px) {
		display: none;
	}
}

.reading-time-mobile {
	display: none;
	@media screen and (max-width: 600px) {
		display: inline-block;
	}
}
