.wp-block-ncmfse-dropdown-menu-content {
	height: 0;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	top: 100%;
	transition: opacity 0.1s linear;
	visibility: hidden;
	width: 0;
	z-index: 2;
	background-color: var(--wp--preset--color--base-2);
	border: 1px solid var(--wp--preset--color--shadcn-border);
	border-radius: 12px;
	padding: var(--wp--preset--spacing--2);
	margin-top: var(--wp--preset--spacing--2);

	&:focus-visible,
	&:focus {
		outline: none;
	}

	&.alignleft {
		left: 0;
	}
	&.alignright {
		right: 0;
	}
	&.aligncenter {
		left: 50%;
		transform: translateX(-50%);
	}
}
