.wp-block-ncmfse-dropdown-menu {
	&.is-selected,
	&.has-child-selected {
		.wp-block-ncmfse-dropdown-menu-content {
			height: auto !important;
			min-width: 210px !important;
			opacity: 1 !important;
			overflow: visible !important;
			visibility: visible !important;
			width: auto !important;
			z-index: 28;
		}
	}
}
