.wp-block-ncmfse-post-media-player__wrap {
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 20;
}

.wp-block-ncmfse-post-media-player__container {
	// flex items-center gap-6 bg-white/90 px-4 py-4 md:px-6
	display: flex;
	align-items: center;
	gap: 1.5rem;
	background-color: var(--wp--preset--color--shadcn-background);
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	box-shadow: 0px -1px 6px 0px var(--wp--preset--color--shadcn-accent);
	@media (min-width: 768px) {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
}

.wp-block-ncmfse-post-media-player__desktop-playbtn {
	// hidden md:flex
	display: none;
	@media (min-width: 768px) {
		display: flex;
	}
}

.wp-block-ncmfse-post-media-player__content {
	// mb-[env(safe-area-inset-bottom)] flex flex-1 flex-col gap-3 overflow-hidden p-1
	margin-bottom: env(safe-area-inset-bottom);
	display: flex;
	flex: 1 1 0%;
	flex-direction: column;
	gap: 0.75rem;
	overflow: hidden;
	padding: 0.25rem;
}

.wp-block-ncmfse-post-media-player__title {
	display: flex;
	justify-content: space-between;
	a {
		// truncate text-center text-sm font-bold leading-6 md:text-left
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		text-align: center;
		font-size: 0.875rem;
		font-weight: 600;
		line-height: 1.5rem;
		@media (min-width: 768px) {
			text-align: left;
		}
	}
}

.wp-block-ncmfse-post-media-player__content-slider {
	// flex justify-between gap-6
	display: flex;
	justify-content: space-between;
	gap: 1.5rem;
}

.wp-block-ncmfse-post-media-player {
	a {
		text-decoration: none;
		&:focus {
			outline: none;
		}
	}

	/*
      1. Change the font styles in all browsers.
      2. Remove the margin in Firefox and Safari.
      3. Remove default padding in all browsers.
      */
	button {
		font-family: inherit;
		font-feature-settings: inherit;
		font-variation-settings: inherit;
		font-size: 100%;
		font-weight: inherit;
		line-height: inherit;
		letter-spacing: inherit;
		color: inherit;
		margin: 0;
		padding: 0;
		border: none;
	}
	button {
		-webkit-appearance: button;
		background-color: transparent;
		background-image: none;
	}

	button,
	[role="button"] {
		cursor: pointer;
	}

	svg {
		display: block;
		vertical-align: middle;
	}

	.-inset-3 {
		inset: -0.75rem;
	}
	.-inset-4 {
		inset: -1rem;
	}
	.inset-0 {
		inset: 0px;
	}
	.inset-x-0 {
		left: 0px;
		right: 0px;
	}
	.-left-2 {
		left: -0.5rem;
	}
	.-right-2 {
		right: -0.5rem;
	}
	.bottom-full {
		bottom: 100%;
	}
	.top-1\/2 {
		top: 50%;
	}
	.order-none {
		order: 0;
	}
	.block {
		display: block;
	}
	.flex {
		display: flex;
	}
	.hidden {
		display: none;
	}
	.h-10 {
		height: 2.5rem;
	}
	.h-14 {
		height: 3.5rem;
	}
	.h-2 {
		height: 0.5rem;
	}
	.h-4 {
		height: 1rem;
	}
	.h-5 {
		height: 1.25rem;
	}
	.h-6 {
		height: 1.5rem;
	}
	.h-7 {
		height: 1.75rem;
	}
	.w-1 {
		width: 0.25rem;
	}
	.w-10 {
		width: 2.5rem;
	}
	.w-14 {
		width: 3.5rem;
	}
	.w-4 {
		width: 1rem;
	}
	.w-5 {
		width: 1.25rem;
	}
	.w-6 {
		width: 1.5rem;
	}
	.w-7 {
		width: 1.75rem;
	}
	.w-full {
		width: 100%;
	}
	.flex-auto {
		flex: 1 1 auto;
	}
	.flex-none {
		flex: none;
	}
	.flex-shrink-0 {
		flex-shrink: 0;
	}
	.-translate-x-1\/2 {
		--tw-translate-x: -50%;
		transform: translate(var(--tw-translate-x), var(--tw-translate-y))
			rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
			scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
	}
	.transform {
		transform: translate(var(--tw-translate-x), var(--tw-translate-y))
			rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
			scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
	}
	.touch-none {
		touch-action: none;
	}
	.items-center {
		align-items: center;
	}
	.justify-center {
		justify-content: center;
	}
	.gap-2 {
		gap: 0.5rem;
	}
	.gap-4 {
		gap: 1rem;
	}
	.gap-6 {
		gap: 1.5rem;
	}
	.rounded-full {
		border-radius: 9999px;
	}
	.rounded-md {
		border-radius: 0.375rem;
	}
	.rounded-l-xl {
		border-top-left-radius: 0.75rem;
		border-bottom-left-radius: 0.75rem;
	}
	.rounded-r-md {
		border-top-right-radius: 0.375rem;
		border-bottom-right-radius: 0.375rem;
	}
	.border {
		border-width: 1px;
	}
	.bg-slate-100 {
		background-color: var(--wp--preset--color--shadcn-border);
	}
	.bg-slate-700 {
		background-color: var(--wp--preset--color--shadcn-slate-700);
	}
	.bg-slate-900 {
		background-color: var(--wp--preset--color--shadcn-foreground);
	}

	.fill-slate-500 {
		fill: var(--wp--preset--color--shadcn-accent);
	}
	.fill-white {
		fill: var(--wp--preset--color--shadcn-background);
	}

	.stroke-slate-500 {
		// stroke: #64748b;
		stroke: var(--wp--preset--color--shadcn-muted-foreground);
	}
	.px-1 {
		padding-left: 0.25rem;
		padding-right: 0.25rem;
	}
	.py-0\.5 {
		padding-top: 0.125rem;
		padding-bottom: 0.125rem;
	}
	.font-mono {
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
			"Liberation Mono", "Courier New", monospace;
	}
	.text-sm {
		font-size: 0.875rem;
		line-height: 1.25rem;
	}
	.leading-6 {
		line-height: 1.5rem;
	}
	.text-slate-300 {
		// color: rgb(203 213 225);
		color: var(--wp--preset--color--shadcn-muted-foreground);
	}
	.text-slate-500 {
		color: rgb(100 116 139);
	}
	.text-slate-700 {
		color: var(--wp--preset--color--shadcn-slate-700);
	}

	.outline-none {
		outline: 2px solid transparent;
		outline-offset: 2px;
	}
	.ring-2 {
		--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
			var(--tw-ring-offset-width) var(--tw-ring-offset-color);
		--tw-ring-shadow: var(--tw-ring-inset) 0 0 0
			calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
		box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
			var(--tw-shadow, 0 0 #0000);
	}
	.ring-slate-400 {
		--tw-ring-color: rgb(148 163 184);
	}
	.ring-slate-700 {
		--tw-ring-color: var(--wp--preset--color--shadcn-slate-700);
	}
	.ring-offset-2 {
		--tw-ring-offset-width: 2px;
	}
	.hover\:bg-slate-100:hover {
		// background-color: rgb(241 245 249);
		background-color: var(--wp--preset--color--shadcn-border);
	}
	.hover\:bg-slate-900:hover {
		// background-color: rgb(15 23 42);
		background-color: var(--wp--preset--color--shadcn-foreground);
	}
	.hover\:text-slate-700:hover {
		// color: rgb(51 65 85);
		color: var(--wp--preset--color--shadcn-slate-700);
	}
	.focus\:outline-none:focus {
		outline: 2px solid transparent;
		outline-offset: 2px;
	}
	.focus\:ring-2:focus {
		--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
			var(--tw-ring-offset-width) var(--tw-ring-offset-color);
		--tw-ring-shadow: var(--tw-ring-inset) 0 0 0
			calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
		box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
			var(--tw-shadow, 0 0 #0000);
	}
	.focus\:ring-slate-400:focus {
		--tw-ring-color: rgb(148 163 184);
	}
	.focus\:ring-slate-700:focus {
		--tw-ring-color: var(--wp--preset--color--shadcn-slate-700);
	}
	.focus\:ring-offset-2:focus {
		--tw-ring-offset-width: 2px;
	}
	.group:hover .group-hover\:fill-slate-700 {
		// fill: #334155;
		fill: var(--wp--preset--color--shadcn-slate-700);
	}
	.group:hover .group-hover\:stroke-slate-700 {
		// stroke: #334155;
		stroke: var(--wp--preset--color--shadcn-slate-700);
	}
	.group:active .group-active\:fill-white\/80 {
		// fill: rgb(255 255 255 / 0.8);
		fill: var(--wp--preset--color--shadcn-accent-lighter);
	}
	@media (min-width: 768px) {
		.md\:relative {
			position: relative;
		}
		.md\:order-none {
			order: 0;
		}
		.md\:block {
			display: block;
		}
		.md\:flex {
			display: flex;
		}
		.md\:hidden {
			display: none;
		}
		.md\:h-14 {
			height: 3.5rem;
		}
		.md\:h-7 {
			height: 1.75rem;
		}
		.md\:w-14 {
			width: 3.5rem;
		}
		.md\:w-7 {
			width: 1.75rem;
		}
		.md\:rounded-full {
			border-radius: 9999px;
		}
		.md\:rounded-l-xl {
			border-top-left-radius: 0.75rem;
			border-bottom-left-radius: 0.75rem;
		}
		.md\:rounded-r-md {
			border-top-right-radius: 0.375rem;
			border-bottom-right-radius: 0.375rem;
		}
	}

	// Custom CSS
	.post-media-player__slider-input {
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
}
