.wp-block-ncmfse-mailpoet-subscription-form {
	.form-item__email-content {
		position: relative;

		button[type="submit"] {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			inset-inline-end: 0.25rem;
			background: none;
			border: none;
			margin: 0;
			padding: 0;
			cursor: pointer;
		}
	}

	input,
	textarea,
	select {
		border-radius: var(--input-radius, 0.25rem);
		padding-top: var(--input-padding, 0.5rem);
		padding-right: var(--input-padding, 0.75rem);
		padding-bottom: var(--input-padding, 0.5rem);
		padding-left: var(--input-padding, 0.75rem);
	}

	/* Error state */
	input.error,
	select.error,
	textarea.error {
		border-color: #f56565;
	}

	input.error:focus,
	select.error:focus,
	textarea.error:focus {
		box-shadow: 0 0 0 3px rgba(245, 101, 101, 0.5);
	}
}
