.wp-block-ncmfse-post-media-play-button {
	display: inline-flex;
	padding: 0.875rem;
	border-radius: 99px;
	color: #fff;
	background-color: var(--wp--preset--color--shadcn-primary);
	position: relative;
	z-index: 4;
	font-size: 1rem;
	cursor: pointer;
	svg {
		width: 1.5em;
		height: 1.5em;
		fill: currentColor;
		color: currentColor;
		display: block;
	}
}
